{% extends "admin/index.html" %}

{% block content %}
{{ block.super }}

<div class="module" style="margin-top: 20px;">
    <table summary="بازارگاه">
        <caption><a href="/admin/marketplace/" class="section">مدیریت بازارگاه</a></caption>
        <tr>
            <th scope="row">
                <a href="{% url 'marketplace:address_list' %}">مدیریت آدرس‌های تحویل</a>
            </th>
            <td>
                <a href="{% url 'marketplace:address_list' %}" class="addlink">
                    مشاهده و مدیریت آدرس‌های تحویل بازارگاه
                </a>
            </td>
        </tr>
        <tr>
            <th scope="row">
                <a href="{% url 'marketplace:create_sale_with_excel' %}">فروش جدید با اکسل</a>
            </th>
            <td>
                <a href="{% url 'marketplace:create_sale_with_excel' %}" class="addlink">
                    ایجاد فروش بازارگاه با آپلود اکسل خریدها
                </a>
            </td>
        </tr>
    </table>
</div>
{% endblock %}